.playhead {
  position: absolute;
  width: 0;
  border-left: 1px solid var(--theme);
  margin-left: -50%;
  top: 6px;
  bottom: 0;
  background-color: var(--theme);
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  //transition-duration: 1s;

  :before {
    display: block;
    padding: 0 4px;
    border-radius: var(--radius);
    background-color: var(--theme);
    font-family: var(--font-family-mono);
    font-size: var(--font-size-small);
    line-height: 20px;
    font-weight: bold;
    color: #000000;
  }

  :before {
    content: attr(data-seeking);
  }
}