.timelineContainer {
  background-color: var(--surface-color);
  width: 100%;
  height: 100%;
  transition: opacity var(--duration-normal);
  display: flex;
  align-items: stretch;
  position: relative;
}

.timeline {
  overflow-x: scroll;
  // note: this is to prevent Chrome from going back to the previous page.
  overscroll-behavior-x: none;
  overflow-y: hidden;
  flex-grow: 1;
  position: relative;
  background-color: var(--background-color);
  --scrollbar-background: var(--background-color);
  height: 100%;
  width: 100%;
}

.visibleContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.scrollContainer {
  position: relative;
  overflow: visible;
  height: calc(100% - 19px);
}

.playheadCursor {
  position: absolute;
  width: 2px;
  top: 32px;
  bottom: 0;
  background-color: white;
  pointer-events: none;
  box-sizing: border-box;
  border: 1px solid #444;
  margin-left: -1.5px;
}

.trackContainer {
  width: 100%;
  height: 100%;
  background-color: var(--surface-color);
}
