.containerStyle {
  font-family: var(--font-family-mono);

  background-color: var(--input-background);
  color: rgba(255, 255, 255, 0.6);
  border-radius: var(--radius);
  border: 0;
  padding: 0 8px;
  height: 24px;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  display: inline-block;

  text-wrap: nowrap;

  &:before {
    content: attr(data-prefix);
    z-index: 1;
    color: rgba(255, 255, 255, 0.6);
    display: inline;
  }

  &:after {
    content: attr(data-postfix);
    z-index: 1;
    color: rgba(255, 255, 255, 0.6);
    display: inline;
  }

  :hover {
    background-color: var(--input-background-hover);
  }

  &.main {
    --loading-stripe-color: var(--theme-light);
    background-color: var(--theme);
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;

    &:hover {
      box-shadow: 0 0 0 2px white inset;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.54;
  }

}

.inputStyle {
  display: inline;
  border: 0;
  margin: 0;
  padding: 0;
  height: 24px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  padding-block: 0;
  padding-inline: 0;

  -moz-appearance: textfield;

  :focus {
    outline: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 0;
    height: 0;
  }

}
